<h4>About ETMS</h4>
<ul>
    <li>
        <a href="#/goodies/etmsgoodie1">
        <span>What is ETMS?</span>
        </a>
    </li>
    <li>
        <a href="#/goodies/etmsgoodie2">
        <span>Getting Started with ETMS</span>
        </a>
    </li>
    <li>
        <a href="#/goodies/etmsgoodie3">
        <span>Request New Workgroup</span>
        </a>
    </li>
    <li>
        <a href="#/goodies/etmsgoodie4">
        <span>Make Data Load Request</span>
        </a>
    </li>
    <li>
        <a href="http://faas.verizon.com/" target="_blank" title="Follow this link to request access through firewalls supported by the VIPS Information &amp; Network Security organization">
        <span>Request Firewall Access</span>
        </a>
    </li>
</ul>
<h4>Reporting</h4>
<ul>
    <li>
        <a href="http://nfodashboard.verizon.com/" target="_blank" title="Find ETMS prepared reports here">
        <span>NFO Dashboard</span>
        </a>
    </li>
    <li>
        <a href="https://ashcno.vzbi.com/dept/cs/ctac/tools/global/etms/commentlog.html?input" target="_blank" title="Search for closed ETMS tickets older than 6 months here">
        <span>Closed Tickets Older than 6 months</span>
        </a>
    </li>
</ul>
<h4>System Information</h4>
<ul>
    <li>
        <a href="http://ttmfrdd03.verizon.com:8888/hudson" target="_blank" title="Click here to see recent build logs to diagnose build errors or confirm the latest good build">
        <span>Code Build Info - Hudson	</span>
        </a>
    </li>
    <li>
        <a href="/supportapp/status.jsp?menu=Thread/DB+Status" target="_blank" title="Follow this link to view current status of the ETMS database threads">
        <span>ETMS System Status</span>
        </a>
    </li>
</ul>
